---
title: <%= typeof title !== 'undefined' ? title : '' %>
description: <%= typeof description !== 'undefined' ? description : '' %>
---



# <%= typeof title !== 'undefined' ? title : '' %>

<%= typeof description !== 'undefined' ? description : '' %>

<% if (typeof author !== 'undefined' && author) { %>
**Author**: <%= author %>
<% } %>

<% if (typeof files !== 'undefined' && Array.isArray(files)) { %>
<% files.forEach(function(file) { %>

## <%= file.title || file.name %>

<%= file.description || '' %>
<% if (file.api) { %>
**API**: <%= file.api %>
<% } %>
<% if (file.author) { %>
**Author**: <%= file.author %>
<% } %>

<% if (file.doc && file.doc.props && file.doc.props.length) { %>
### Props
| Name | Type | Default | Description |
|------|------|---------|-------------|
<% file.doc.props.forEach(function(prop) { %>| <%= prop.name %> | <%= prop.type %> | <%= prop.default %> | <%= prop.description %> |
<% }); %>
<% } %>

<% if (file.doc && file.doc.emits && file.doc.emits.length) { %>
### Events
| Name | Description |
|------|-------------|
<% file.doc.emits.forEach(function(event) { %>| <%= event.name %> | <%= event.description %> |
<% }); %>
<% } %>

<% if (file.doc && file.doc.slots && file.doc.slots.length) { %>
### Slots
| Name | Description |
|------|-------------|
<% file.doc.slots.forEach(function(slot) { %>| <%= slot.name %> | <%= slot.description %> |
<% }); %>
<% } %>

<% if (file.doc && file.doc.provides && file.doc.provides.length) { %>
### Provide
| Key | Value | Type | Description |
|-----|-------|------|-------------|
<% file.doc.provides.forEach(function(item) { %>| <%= item.key %> | <%= item.value %> | <%= item.type %> | <%= item.description %> |
<% }); %>
<% } %>

<% if (file.doc && file.doc.injects && file.doc.injects.length) { %>
### Inject
| Key | Default | Type | Description |
|-----|--------|------|-------------|
<% file.doc.injects.forEach(function(item) { %>| <%= item.key %> | <%= item.default %> | <%= item.type %> | <%= item.description %> |
<% }); %>
<% } %>

<% if (file.doc && file.doc.exposes && file.doc.exposes.length) { %>
### Expose
| Name | Type | Description |
|------|------|-------------|
<% file.doc.exposes.forEach(function(item) { %>| <%= item.name %> | <%= item.type || '' %> | <%= item.description %> |
<% }); %>
<% } %>

<% if (file.doc && file.doc.cssVars && file.doc.cssVars.length) { %>
### CSS Variables
| Name | Value | Description |
|------|-------|-------------|
<% file.doc.cssVars.forEach(function(cssVar) { %>| <%= cssVar.name %> | <%= cssVar.value %> | <%= cssVar.description %> |
<% }); %>
<% } %>

<% if (file.doc && file.doc.types && file.doc.types.length) { %>
### Types
| Name | Type | Description |
|------|------|-------------|
<% file.doc.types.forEach(function(type) { %>| <%= type.name %> | <%= type.type %> | <%= type.description %> |
<% }); %>
<% } %>

<% if (file.doc && file.doc.childComponents && file.doc.childComponents.length) { %>
### Child Components
<ul>
<% file.doc.childComponents.forEach(function(child) { %>
  <li><%= child %></li>
<% }); %>
</ul>
<% } %>

<% if (file.doc && file.doc.source && file.doc.source.html) { %>
<details>
  <summary>Voir le code source HTML</summary>
  <pre><code><%= file.doc.source.html %></code></pre>
</details>
<% } %>

<% if (file.doc && file.doc.source && file.doc.source.pug) { %>
<details>
  <summary>Voir le code source Pug</summary>
  <pre><code><%= file.doc.source.pug %></code></pre>
</details>
<% } %>

<% }); %>
<% } %>

## Advanced Usage

<!-- Add more code-preview/code-group/code-tree blocks as needed for advanced examples -->

::tip
You can copy and adapt this template for any component documentation.
::

## Advanced Usage

<!-- Add more code-preview/code-group/code-tree blocks as needed for advanced examples -->

::tip
You can copy and adapt this template for any component documentation.
::
